<section class="borda bloco-texto">
  <div class="titulo">
      <h3 class="fonte-titulo"><strong>5 Dicas Para Uma Alimentação Infantil Mais Saudável</strong></h3>
  </div>

  <div class="imagem">
      <img class="imagem d-block w-100" src="../../assets/imagens/crianca-frutas.jpg" alt="">
  </div>

  <br><br>

  <div class="paragrafos">
      <p class="paragrafo-centro">
          Uma alimentação infantil saudável é tão desafiadora quanto manter os pequenos longe dos alimentos ultra processados. Aqui no Blog do Seu Orgânico, já demos uma guia completo para a nutrição infantil para cada fase da infância.
          <br><br>Hoje continuaremos falando sobre as crianças. Trazemos algumas sugestões que podem facilitar a criação de uma rotina de alimentação mais saudável e que contribuam com o crescimento e desenvolvimento durante a infância e pré-adolescência.
      </p>
      <br>
      <br>
      <h4>1- Incentivar O Consumo De Frutas</h4>
      <br>
      <img class="imagens-paragrafo float-right" src="../../assets/imagens/crianca-comendo-melancia.jpg" alt="">
      <p class="paragrafo-esquerda">
          Você sabe por que o sabor doce das frutas é diferente do sabor doce de alimentos industrializados? Nas frutas, o açúcar encontrado é a frutose. Enquanto nos ultra processados temos a sacarose. Nas frutas temos o sabor doce que agrada as crianças e uma série de vitaminas e outros nutrientes que trazem inúmeros benefícios à saúde.
        </p><br>
        <p class="paragrafo-centro">
          O alto consumo de sacarose está vinculado não somente ao sobrepeso, mas com outras doenças mais perigosas como diabetes tipo II e hipertensão. Já falamos sobre essas duas no nosso guia sobre as doenças mais comuns no Brasil.
      </p>
      <br>
      <br>
      <h4 class="titulo-direita">2- Sucos Naturais</h4>
      <br>
      <img class="imagens-paragrafo float-left" src="../../assets/imagens/crianca-sucos-naturais.jpg" alt="">
      <p class="paragrafo-direita">
          Que os refrigerantes não são indicados para crianças por conta do sabor artificial, gás e alto teor de açúcar, todos sabem. Mas será que os sucos industrializados são um bom substituto? Na maior parte das vezes, esses produtos também são saborizados artificialmente e podem conter tanto açúcar quanto os refrigerantes.
        </p><br>
        <p class="paragrafo-centro">
          O ideal para as crianças é o suco natural. Dessa forma, além de controlar a quantidade de sacarose, valoriza-se a frutose e os nutrientes que a fruta contém. A oferta de suco também pode ser uma maneira de driblar o problema que algumas crianças tem com a textura das fibras.
          <br><br>Se a sua criança está na fase de introdução de alimentos sólidos, uma leitura recomendável é o Guia de Alimentação da Criança Brasileira elaborado pelo Ministério da Saúde.
      </p>
      <br>
      <h4>3 – Hábitos Em Família</h4>
      <br>
      <img class="imagens-paragrafo float-right" src="../../assets/imagens/mae-e-filha-cozinhando.jpg" alt="">
      <p class="paragrafo-esquerda">
          Um famoso ditado diz que as crianças fazem o que veem. Na alimentação não é diferente. Se os pais tem hábitos alimentares ruins, consumindo demasiadamente frituras, refrigerantes e fast food, é provável que a criança se espelhe nesses comportamentos.
        </p><br><br>
        <p class="paragrafo-centro">
          O ideal é que toda a família estabeleça hábitos saudáveis ao se alimentar. Dessa forma, é construída uma influência positiva para os pequenos se alimentarem bem também.
      </p>
      <br><br>
      <h4>4- A Suplementação É Sua Amiga</h4>
      <br>
      <img class="imagens-paragrafo float-left" src="../../assets/imagens/crianca-suplementacao.jpg" alt="">
      <p class="paragrafo-direita">
          É improvável que seu filho goste de todos os alimentos oferecidos a ele. Isso significa que mesmo se alimentando bem pode ser que faltem alguns nutrientes essenciais para o desenvolvimento. Nesses casos, a sua melhor aliada será a suplementação.
      </p>
      <br><br><br><br>
      <h4>5- Açúcares Não Precisam Ser Proibidos</h4>
      <br>
      <img class="imagens-paragrafo float-right img-especial" src="../../assets/imagens/crianca-acucares-n-proibidos.jpg" alt="">
      <p class="paragrafo-esquerda">
        Mas nem um docinho? Um brigadeirozinho na festa do primo? Não precisa ser tão radical. As crianças podem sim comer um doce vez ou outra.

        </p>
        <p class="paragrafo-centro">
          O importante é não deixar isso se tornar um hábito, pois o açúcar pode realmente causar uma dependência. Outro fato a ser analisado é não ofertar os doces como forma de recompensar a criança por algo, já que ela pode criar essa relação.
          <br><br>Quer criar um cardápio saudável para as crianças da sua casa? Conheça as feiras das cooperativas  conveniadas com o Seu Orgânico ou assine já a sua caixa!
      </p>
  </div>
</section>
