#imagem-principal {
  object-fit:cover; object-position: 0 80%;
  height: 500px;
  margin-top: 80px;
}

.card {
  border-radius: 20px;
  width: 950px;
  margin-top: 2rem;
}

.borda {
  /* padding-top: 50px; */
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 100px;
}

.form-inline {
  margin-left: 260px;
}

.fonte-titulo {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  color: #046804;
  margin-bottom: 20px;
}

.paragrafo {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: center;
  text-justify: inter-word;
}

.estilo-search-bar {
  padding: 20px;
  float: center;
}

.estilo-input {
  width: 350px;
}

.estilo-botao-input {
  background-color: #046804;
  color: white;
}

.imagem {
  width: 150px;
  height: 200px;
  border-radius: 20px 0px 0px 20px;
}

.bloco-texto {
  padding-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 200px;
}

.titulo {
  font-family: 'Playfair Display';
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.subtitulo {
  font-family: 'Playfair Display';
  font-size: 20px;
  text-align: justify;

}

.informacoes {
  font-family: 'Playfair Display';
  font-size: 17px;
  font-weight: 400;
}

.card-title {
  max-width: "24px";
}

.card-body {
  width: 300px;
  margin: 0;
}
