<section id="imagem-principal">
  <img src="./../../assets/imagens/quem-somos.png" class="imagem-carrossel d-block w-100" alt="barraca de frutas e verduras em uma feira livre">
</section>

<div class="bloco-texto">
  <h2 class="fonte-titulo"><strong>Quem somos?</strong></h2>
  <br>
  <p class="fonte-texto">
    O Seu Orgânico é o seu parceiro quando o assunto é alimentação saudável.
    Através de convênios com várias cooperativas de produtores de orgânicos,
    nossa proposta é tornar acessível o consumo de alimentos de qualidade e
    livres de agrotóxicos. Como causa social, incentivamos o mercado de
    orgânicos e a agricultura familiar. Dessa forma, levamos o melhor em
    verduras e legumes da nossa horta para a sua mesa!
  </p>
  <br><br><br>
  <h2 class="fonte-titulo"><strong>Por que somos?</strong></h2>
  <br>
  <p class="fonte-texto">
    Durante a pandemia, cerca de 118 agrotóxicos foram liberados pela
    legislação brasileira. Muitos desses já são proibidos em vários países
    ao redor do mundo por causarem doenças como câncer e prejudicarem o
    desenvolvimento infantil. Juntamente a esse cenário, os principais
    fatores que limitam o consumo de orgânicos em nosso país é a falta
    de informação e acesso aos produtos.
    A nossa missão surge então de utilizar a tecnologia como um facilitador:
    para ligar os produtores das cooperativas aos consumidores finais nas cidades.
    Além disso, estamos sempre divulgando materiais sobre consumo sustentável,
    receitas deliciosas com vegetais e aproveitamento de resíduos.
    Ajudamos a cuidar da sua saúde, da economia de famílias que trabalham com
    a terra e com o meio ambiente.
  </p>
  <br><br>
  <p class="fonte-texto">Além disso, estamos sempre divulgando materiais sobre consumo sustentável,
    receitas deliciosas com vegetais e aproveitamento de resíduos.
    Ajudamos a cuidar da sua saúde, da economia de famílias que trabalham com
    a terra e com o meio ambiente.</p>
  </div>

  <br>

  <section class="borda">

  <h2 class="fonte-titulo"><strong>Nossos parceiros:</strong></h2><br>

  <div class="card">
    <div class="row">
      <div>
        <img class="imagem" src="../../assets/imagens/cooperativa-estrela.jpg" alt="">
      </div>
      <div class="card-body">
        <h5 class="card-title titulo">Cooperativa Fruta Estrela</h5>
        <p class="">
          Fundada em 1997 na cidade de Jaú, busca cultivar e oferecer as melhores frutas estrelas<br> da região,
          além de muitas outras opções de frutas, prezando pelo cuidado e atenção.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div>
        <img class="imagem" src="../../assets/imagens/cooperativa-sol-nascente.jpg" alt="">
      </div>
      <div class="card-body">
        <h5 class="card-title titulo">Cooperativa Sol Nascente</h5>
        <p class="">
          Fundada em 2008 na cidade de São Carlos, a Cooperativa Sol Nascente visa entregar <br>
          qualidade e saúde através de orgânicos frescos e de qualidade.
        </p>
      </div>
    </div>
  </div>
  <br>
  <p>(parceiros e apoiadores são fictícios)</p>
</section>

<section class="borda">
  <div class="card-apoiadores">
    <h2 class="fonte-titulo"><strong>Nossos apoiadores:</strong></h2>
    <div class="row apoiadores">
      <div>
        <img class="imagem-shehacks" src="../../assets/imagens/logo-SheHacks2021.png" alt="">
      </div>
      <div>
        <img src="../../assets/imagens/logo-cli.png" alt="" class="imagem-cli">
      </div>
    </div>
  </div>
  <p>(parceiros e apoiadores são fictícios)</p>
</section>



