<section id="imagem-principal">
  <img src="./../../assets/imagens/Assinatura.png" class="d-block w-100" alt="barraca de frutas e verduras em uma feira livre">
</section>

<h3 class="card-title titulo-principal"><strong>Confira aqui nossas opções de caixas</strong></h3><br>

<div class="paragrafo">
  <p>
    Se você é do time dos que não tem tempo para ir ao mercado com frequência ou nem sabe <br> por onde
    começar na hora de cozinhar, o Seu Orgânico também tem a solução para você!<br><br> Conheça nossas
    assinaturas semanais ou quinzenais e transforme a sua alimentação para melhor.
  </p>
</div><br><br>


<section id="opcoes" class="bg-light">
  <div class="container pb-5">
    <div class="row justify-content-md-around justify-content-center">

      <article class="card mt-5 card-imagem">
        <img src="../../assets/imagens/caixa-jaboticaba.jpg" class="card-imagem-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Semanal - Jaboticaba</h5>
          <p class="card-text">pequena para quem olha, mas deliciosa para quem consome!<br> Na nossa Caixa Jaboticaba você recebe três frutas, dois legumes e duas verduras.</p>
          <div class="card-footer d-flex">
            <h4 class="text-muted">R$ 30,00</h4>
            <a href="#" class="btn btn-success btn-comprar">Comprar</a>
          </div>
        </div>
      </article>
      <article class="card mt-5 card-imagem">
        <img src="../../assets/imagens/caixa-mamao.jpg" class="card-imagem-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Semanal - Mamão</h5>
          <p class="card-text">partindo ao meio dá para satisfazer duas pessoas! <br> Com a assinatura da Caixa Mamão você recebe seis frutas, cinco legumes e cinco verduras.</p>
          <div class="card-footer d-flex">
            <h4 class="text-muted">R$ 40,00</h4>
            <a href="#" class="btn btn-success btn-comprar">Comprar</a>
          </div>
        </div>
      </article>
      <article class="card mt-5 card-imagem">
        <img src="../../assets/imagens/caixa-melancia.jpg" class="card-imagem-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Semanal - Melancia</h5>
          <p class="card-text">bem grandona para servir toda a família! <br> Nessa assinatura você recebe nove frutas, oito legumes e oito verduras.</p>
          <div class="card-footer d-flex">
            <h4 class="text-muted">R$ 50,00</h4>
            <a href="#" class="btn btn-success btn-comprar">Comprar</a>
          </div>
        </div>
      </article>
      <article class="card mt-5 card-imagem">
        <img src="../../assets/imagens/caixa-jaboticaba.jpg" class="card-imagem-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Quinzenal - Jaboticaba</h5>
          <p class="card-text">pequena para quem olha, mas deliciosa para quem consome!<br> Na nossa Caixa Jaboticaba você recebe três frutas, dois legumes e duas verduras.</p>
          <div class="card-footer d-flex">
            <h4 class="text-muted">R$ 35,00</h4>
            <a href="#" class="btn btn-success btn-comprar">Comprar</a>
          </div>
        </div>
      </article>
      <article class="card mt-5 card-imagem">
        <img src="../../assets/imagens/caixa-mamao.jpg" class="card-imagem-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Quinzenal - Mamão</h5>
          <p class="card-text">partindo ao meio dá para satisfazer duas pessoas! <br> Com a assinatura da Caixa Mamão você recebe seis frutas, cinco legumes e cinco verduras.</p>
          <div class="card-footer d-flex">
            <h4 class="text-muted">R$ 45,00</h4>
            <a href="#" class="btn btn-success btn-comprar">Comprar</a>
          </div>
        </div>
      </article>
      <article class="card mt-5 card-imagem">
        <img src="../../assets/imagens/caixa-melancia.jpg" class="card-imagem-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Quinzenal - Melancia</h5>
          <p class="card-text">bem grandona para servir toda a família! <br> Nessa assinatura você recebe nove frutas, oito legumes e oito verduras.</p>
          <div class="card-footer d-flex">
            <h4 class="text-muted">R$ 55,00</h4>
            <a href="#" class="btn btn-success btn-comprar">Comprar</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>



