<div id="imagem-principal">
  <img class="imagem-banner" src="../../assets/imagens/Conheça o blog.png" class="imagem-carrossel d-block w-100" alt="">
</div>
<section class="bloco-texto">

  <div class="titulo">
    <h3 class="fonte-titulo"><strong>Olá, este é o nosso blog!</strong></h3>
    <p class="paragrafo">Por aqui podemos dividir conhecimentos e dicas sobre assuntos relacionados à alimentação de qualidade!</p>
  </div>

  <section class="borda">

    <div class="card">
      <div class="row">
        <div>
          <img class="imagem d-block w-100" src="../../assets/imagens/capa.jpg" alt="capa">
        </div>
        <div class="card-body">
          <h5 class="card-title">6 Vitaminas E Os Seus Benefícios</h5>
          <p class="card-text">Vitaminas são necessárias ao organismo em pequenas quantidades e podem <br> fazer toda a diferença na sua qualidade de vida. Você sabe os benefícios que elas trazem?
          </p>
          <a [routerLink]="['/materia']" class="nav-link btn btn-success float-left">Ler matéria</a>
        </div>
      </div>
    </div>

    <br><br>

    <div class="card">
      <div class="row">
        <div>
          <img class="imagem d-block w-100" src="../../assets/imagens/dica_de_especialista.jpg" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">Dica de especialista: quais os benefícios da reeducação<br> alimentar?</h5>
          <p class="card-text"> A Dra. Fabiana Araújo, nutricionista patrocinadora do Seu Orgânico explica <br>os benefícios para a saúde proporcionados pela reeducação alimentar.</p>
          <a [routerLink]="['/materia']" class="btn-success btn float-left">Ler matéria</a>
        </div>
      </div>
    </div>

    <br><br>

    <div class="card">
      <div class="row">
        <div>
          <img class="imagem d-block w-100"  src="../../assets/imagens/crianca-frutas.jpg" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">5 Dicas Para Uma Alimentação Infantil Mais Saudável</h5>
          <p class="card-text">Uma alimentação infantil saudável na era dos produtos industrializados é um <br> desafio. Separamos algumas dicas para enriquecer as refeições dos pequenos</p>
          <a [routerLink]="['/materia2']" class="nav-link btn-success btn float-left">Ler matéria</a>
        </div>
      </div>
    </div>

    <br><br>

    <div class="card">
      <div class="row">
        <div>
          <img class="imagem d-block w-100" src="../../assets/imagens/melhores_exs_sedentarismo.jpg" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">Dica de especialista: quais os melhores exercícios para <br>sair do sedentarismo?</h5>
          <p class="card-text">Pedro Souza, personal trainer patrocinador do Seu Orgânico, indica alguns<br>exercícios para quem dar um chega para lá no sedentarismo aos poucos.</p>
          <a [routerLink]="['/materia']" class="btn-success btn float-left">Ler matéria</a>
        </div>
      </div>
    </div>

  </section>
</section>
