<section class="borda bloco-texto">
  <div class="titulo">
      <h3 class="fonte-titulo"><strong>6 Vitaminas E Os Seus Benefícios</strong></h3>
  </div>

  <div class="imagem">
      <img class="imagem d-block w-100" src="../../assets/imagens/capa.jpg" alt="">
  </div>

  <br><br>

  <div class="paragrafos">
      <p class="paragrafo">
          Você sabe o que são vitaminas? O que elas podem fazer pela sua saúde? Vitaminas são compostos orgânicos encontrados principalmente em frutas e legumes, e que são necessários ao nosso organismo em pequena quantidade. Além de garantirem o bom funcionamento do corpo, as vitaminas podem prevenir diversas doenças.
          <br><br>Como já falamos aqui no blog, muitas das principais doenças dos brasileiros podem ser prevenidas através de uma alimentação saudável.
          <br><br>Porém, mais do que reafirmar a necessidade de consumir vitaminas, hoje, o Seu Orgânico elaborou um guia completo sobre as vitaminas mais importantes para o seu corpo.
      </p>
      <br>
      <br>
      <h4>Vitaminas Lipossolúveis</h4>
      <br>
      <p class="paragrafo">
          Vitaminas lipossolúveis dependem de óleos para serem absorvidas. Primeiramente, é necessário compreender que as vitaminas se dividem em dois grupos: as lipossolúveis e as hidrossolúveis. As vitaminas lipossolúveis são solúveis em óleos. Isso significa que para serem bem absorvidas precisam de alimentos ricos em gorduras boas e óleos essenciais.
      </p>
      <br>
      <br>
      <h4>1- Vitamina A</h4>
      <br>
      <img class="imagens-paragrafo float-right" src="../../assets/imagens/vit a.jpg" alt="">
      <p class="paragrafo-esquerda">
          Encontrada em folhagens escuras, cenouras, queijos, ovos e frutas como damasco e pêssego, a vitamina A é um poderoso antioxidante. Ela ajuda a saúde dos olhos, melhorando a visão noturna e prevenindo a degeneração macular. Além disso, a vitamina A também é responsável pela saúde da pele e força dos ossos e dentes.
      </p>
      <br><br>
      <h4>2- Vitamina D</h4>
      <br>
      <img class="imagens-paragrafo float-left" src="../../assets/imagens/vit d.jpg" alt="">
      <p class="paragrafo-direita">
          Já tomou seus quinze minutos de sol hoje? A vitamina D requer uma dose diária de luz solar, mas também pode ser encontrada em cogumelos, fígado, peixes e gema de ovos. Essa substância é responsável pela saúde cardiovascular e absorção de minerais como cálcio e fósforo. Além disso, a vitamina D também auxilia no fortalecimento dos ossos e músculos.
      </p>
      <br><br>
      <h4>3- Vitamina K</h4>
      <br>
      <img class="imagens-paragrafo float-right" src="../../assets/imagens/vit k.jpg" alt="">
      <p class="paragrafo-esquerda">
          Fígado, óleos vegetais e folhas verdes escuras são boas fontes de vitamina K. Ela está relacionada ao crescimento e desenvolvimento infantil, ajuda na fixação do cálcio (prevenindo a osteoporose). Outro benefício trazido por essa vitamina é a melhoria na coagulação sanguínea, facilitando a cicatrização de ferimentos.
      </p>
      <br><br>
      <h4>4- Vitamina E</h4>
      <br>
      <img class="imagens-paragrafo float-left" src="../../assets/imagens/vit e.jpg" alt="">
      <p class="paragrafo-direita">
          Saúde intestinal, prevenção de câncer e aumento da produção de espermatozoides são alguns dos assuntos tratados pela vitamina E. Por isso, casais que desejam ter filhos devem considerar uma dieta rica em alimentos com essa vitamina. Ela pode ser encontrada em vegetais escuros, nozes, ovos, gordura do leite e óleos vegetais.
      </p>
      <br><br>
      <h4>Vitaminas Hidrossolúveis</h4>
      <br>
      <p class="paragrafo">
          As vitaminas hidrossolúveis são aquelas solúveis em água. O processo de absorção e retenção delas é um pouco diferente. Os nutrientes são carregados pelo organismo através do sistema circulatório e eliminados através da urina. Ou seja, o tempo de absorção é mais curto.
          <br><br>Outra particularidade das vitaminas hidrossolúveis é a sensibilidade às altas temperaturas. Por conta disso, ao cozinhar legumes e vegetais, prefira o cozimento ao vapor para não perder tantos nutrientes presentes nestes alimentos.
      </p>
      <br>
      <h4>5- Vitaminas Do Complexo B</h4>
      <br>
      <img class="imagens-paragrafo float-right" src="../../assets/imagens/vit b.jpg" alt="">
      <p class="paragrafo-esquerda">
          Aqui não temos apenas uma, mas toda uma família de vitaminas com diversas funções. Além de serem conhecidas pela letra B acompanhada de um número, as vitaminas do complexo B possuem nomes específicos também: tiamina, riboflavina, niacina, ácido pantotênico, piridoxina, folato e cobalamina.
      </p>
      <br><br>
      <h5>5.1- B1 (Tiamina)</h5>
      <p class="paragrafo">
          A Tiamina abre o apetite, melhora o funcionamento do sistema nervoso, previne doenças cardiovasculares e desenvolve a musculatura. Ela é encontrada em grãos integrais, cereais e legumes.
      </p>
      <br>
      <h5>5.2- B2 (Riboflavina)</h5>
      <p class="paragrafo">
          A Riboflavina é a responsável por transformar outros compostos em energia para o corpo. Ao transformar carboidratos e proteínas em energia, ela proporciona energia para a realização de atividades. Essa vitamina está presente no leite e seus derivados, carnes, ovos, vegetais escuros e cereais integrais.
      </p>
      <br>
      <h5>5.3- B3 (Niacina)</h5>
      <p class="paragrafo">
          A Niacina tem uma função muito semelhante à Riboflavina, porém ela também ajuda na redução dos níveis de colesterol, melhora a circulação sanguínea e previne diabetes. Sua função antioxidante pode ajudar na prevenção de alguns cânceres. A B3 é encontrada em peixes, aves, fígado, amendoim, grãos integrais, ovos e legumes.
      </p>
      <br>
      <h5>5.4- B5 (Ácido Pantotênico)</h5>
      <p class="paragrafo">
          O time do Projeto Rapunzel deve ficar atento ao poder dessa vitamina: ela é responsável por cabelos saudáveis. Além disso, ela atua na produção de hormônios e controla os níveis de colesterol no sangue, diminui o cansaço e melhora os processos de cicatrização. O Ácido Pantotênico é encontrado em sementes de girassol, cogumelos, frango, abacate, couve-flor e sal.
      </p>
      <br>
      <h5>5.5- B6 (Piridoxina)</h5>
      <p class="paragrafo">
          Encontrada na banana, salmão, melancia, abacate, inhame, batata, bacalhau e fígado, a piridoxina acelera o metabolismo e ajuda na queima de gorduras. Além disso, ajuda no sistema cardiovascular reduzindo os níveis de colesterol e a pressão sanguínea.
      </p>
      <br>
      <h5>5.6- B9 (Ácido Fólico)</h5>
      <p class="paragrafo">
          O Ácido Fólico auxilia o sistema gastrointestinal prevenindo a diarreia e a má absorção dos nutrientes. Ele também é essencial para as gestantes porque ajuda na formação do sistema nervoso do feto. Essa vitamina é encontrada no feijão, lentilhas, quiabo e espinafre.
      </p>
      <br>
      <h5> 5.7- B12 (Cobalamina)</h5>
      <p class="paragrafo">
          Está muito estressado? Talvez você esteja com falta da vitamina B12! Essa vitamina protege o sistema nervoso central, reduzindo os efeitos do estresse do dia a dia, e o protege da ansiedade e da depressão. A B12 é encontrada em ostras, mariscos, salmão e truta.
      </p>
      <br><br>
      <h4>6- Vitamina C</h4>
      <br>
      <img class="imagens-paragrafo float-left" src="../../assets/imagens/vit c.jpg" alt="">
      <p class="paragrafo-direita">
          Um clássico conhecido pelos brasileiros! Quer vitamina C? Tome suco de laranja! Essa vitamina é encontrada também em outras frutas cítricas como o limão, a tangerina, o morango e o kiwi. Mas também está presente no pimentão amarelo e no tomate. A Vitamina C é um poderoso antioxidante que previne o envelhecimento e aumenta a imunidade.
        </p><br>
        <p class="paragrafo">
          Vários dos alimentos que citamos durante esse post estão disponíveis nas Feiras de Orgânicos e nas caixas de assinatura do Seu Orgânico. Garanta já seus produtos e tenha uma alimentação mais saudável!
      </p>
  </div>
</section>
